<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark my-sidebar" style="width: 170px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="" class="nav-link text-white" [ngClass]="{'active': isDash===&quot;dashboard&quot;}" (click)="change('dashboard')">
          Table
        </a>
      </li>
    </ul>
    <hr>
  </div>